# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

*.idea/
*.iml/
*.gradle/
.idea/
.gradle/
.DB_Store
idea
build
/.idea/*
/out/*
/.gradle/*
/.build/*

/src/main/resources/application.yml

# build 폴더의 모든 파일은 무시하되, build/generated-snippets 폴더는 포함
build/
